#details-wrapper {
  background-color: rgb(242, 236, 236);
  margin: 15px;
  height: 80%;
  width: 55%;
  border-radius: 5px;
  float: left;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
 
}



#comments {
  background-color: rgb(242, 236, 236);
  margin: 15px;
  height: 80%;
  width: 40%;
  border-radius: 5px;
  float: right;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  }

#details-wrapper img {
  display: block;
  margin: 10 px;
  height: 30vh;
  width: 60vh;
}

#details-img {
  padding: 20px;
}


#details-location {
  text-align: center;
  font-size: 18px;
}

#details-description {
  width: 95%;
  margin: 30px auto;
  height: auto;
  text-align: center;
}

#details-name {
  font-size: 20px;
  text-align: center;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 14px;
}

span {
  font-size: 22px;
}


#details h3 {
  text-align: center;
  letter-spacing: 6px;
}