.errorMessage {
color:red;
font-size: 0.8em;
margin: 0 0 10px;
}

.inputError {
    border : 1px solid red;

}

.form {
    background-color:rgb(243, 235, 235);
    max-width: 440px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 45px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .form h2 {
    margin-bottom: 50px;
    font-size: 30px;
    color: rgb(78, 223, 129);
  }
  
  .form input{
    border-radius: 10px;
    outline: 0;
    background: #ffffff;
    width: 100%;
    height: 50px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form textarea {
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206);
    width: 99%;
    max-width: 99%;
    min-width: 99%;
    min-height: 50px;
    margin-bottom: 10px;
  
  }
  .form button {
    font-family: 'Alkalami', serif;
    font-family: 'Kaushan Script', cursive;
    text-transform: uppercase;
    outline: 0;
    background: rgba(234, 164, 164, 0.314);
    text-shadow: 1px 1px black;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    
  }
  .form button:hover,
  .form button:active,
  .form button:focus {
    background: #7ae48c;
  }
  

  .form .message {
    margin: 15px 0 0;
    color: #6b6767;
    font-size: 17px;
  }
  .form .message a {
    color: #bd2c2c;
    text-decoration: none;
  }
  button[type="submit"]:disabled {
    background-color: rgba(16, 16, 16, 0.3); /* Background color when disabled */
    color: rgba(255, 255, 255, 0.3); /* Text color when disabled */
    /* Add other styles as needed */
  }
